<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.winetoy.server.wine.dao.WineDao">
	<insert id="registerWine"
		parameterType="shop.winetoy.server.wine.entity.WineDto"
		useGeneratedKeys="true" keyProperty="pid">
		INSERT INTO `wineToy`.`wine`
		(
			`type`,
			`kor_name`,
			`eng_name`,
			`star_point`,
			`price`,
			`sweet`,
			`body`,
			`acidity`,
			`tannin`,
			`alcohol`,
			`country`,
			`region`,
			`grape_variety`,
			`recommended_snack`,
			`desc`,
			`image_url`
		)
		VALUES
		(
			#{type},
			#{korName},
			#{engName},
			#{starPoint},
			#{price},
			#{sweet},
			#{body},
			#{acidity},
			#{tannin},
			#{alcohol},
			#{country},
			#{region},
			#{grapeVariety},
			#{recommendedSnack},
			#{desc},
			#{imageUrl}
		);
	</insert>

	<select id="getWineDetail"
		resultType="shop.winetoy.server.wine.entity.WineDto">
		select * from wine where pid = #{pid};
	</select>

	<select id="searchWine"
		resultType="shop.winetoy.server.wine.entity.WineInfoDto">
		select * from wine
		<where>
			<if test="type != null"> and type = #{type}</if>
			<if test="body != null"> and body = #{body}</if>
			<if test="sweet != null"> and sweet = #{sweet}</if>
			<if test="acidity != null"> and acidity = #{acidity}</if>
			<if test="tannin != null"> and tannin = #{tannin}</if>
			<if test="price != null"> and price > #{price}</if>
			<if test="country != null"> and country = #{country}</if>
		</where>
		order by pid asc limit #{listCount} offset #{offset};
	</select>

	<select id="searchWineWithPid"
		resultType="shop.winetoy.server.wine.entity.WineInfoDto">
		select wine.*, bookmark_id as 'like' from wine
		left join bookmark ON
		(bookmark.wine_pid = wine.pid and bookmark.member_pid = #{pid})
		<where>
			<if test="type != null"> and type = #{type}</if>
			<if test="body != null"> and body = #{body}</if>
			<if test="sweet != null"> and sweet = #{sweet}</if>
			<if test="acidity != null"> and acidity = #{acidity}</if>
			<if test="tannin != null"> and tannin = #{tannin}</if>
			<if test="price != null"> and price > #{price}</if>
			<if test="country != null"> and country = #{country}</if>
		</where>
		order by pid asc limit 20 offset 0;
	</select>

	<select id="getWineCount" resultType="int">
		select count(*) as num from wine
		<where>
			<if test="type != null"> and type = #{type}</if>
			<if test="body != null"> and body = #{body}</if>
			<if test="sweet != null"> and sweet = #{sweet}</if>
			<if test="acidity != null"> and acidity = #{acidity}</if>
			<if test="tannin != null"> and tannin = #{tannin}</if>
			<if test="price != null"> and price = #{price}</if>
			<if test="country != null"> and country = #{country}</if>
		</where>
	</select>
	
</mapper>