.Banner {
  width: 100%;
  height: 915px;
}
.Banner img {
  height: 915px;
}

@media screen and (max-width: 768px) {
  .Banner {
    width: 100%;
    height: 50vh;
  }
  .Banner img {
    height: 50vh;
  }
}
