.BestReviewwrapper {
  background-color: var(--secondary);
  height: 910px;
}

.BestReview {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewimg {
  width: 360px;
  height: 360px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card {
  width: 360px;
  height: 494px;
  margin-right: 60px;
}
