.headerWrapper {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease;
}
.activebg {
  background-color: white;
  border-bottom: 2px solid lightgray;
}
.Header {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.moblie {
  display: none;
}
.mobile_headerWrapper {
  display: none;
}
.mobile_activebg {
  display: none;
}
.btnWrapper:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.btnWrapper span {
  font-family: "campton";
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-txt);
  cursor: pointer;
  padding: 0px 10px;
  line-height: 20px;
  /* padding-bottom: 5px; */
}
.btnWrapper svg {
  font-size: 20px;
  color: var(--primary-txt);
}
.Header button {
  width: 3rem;
  height: 1.5rem;
}
.logo {
  display: block;
  font-size: 35px;
  font-family: "campton";
  font-weight: 700;
  color: var(--primary-txt);
  cursor: pointer;
  margin-right: 25px;
}

@media screen and (max-device-width: 586px) {
  .Header {
    display: none;
  }
  .moblie {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
  }
  .headerWrapper {
    display: none;
  }
  .activebg {
    display: none;
  }
  .mobile_headerWrapper {
    width: 50vw;
    height: 100%;
    position: fixed;
    right: 0px;
    z-index: 10;
    background-color: white;
    border-bottom: 2px solid lightgray;
    transform: translateX(550px);
  }
  .mobile_activebg {
    width: 50vw;
    height: 100%;
    position: fixed;
    right: 0px;
    z-index: 10;
    background-color: white;
    border-bottom: 2px solid lightgray;
    transform: translateX(550px);
  }
}
