.headerWrapper {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease;
}
.activebg {
  background-color: white;
  border-bottom: 2px solid lightgray;
}
.Header {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.menuBtn {
  display: none;
}
.moblie {
  display: none;
}
.mobile_headerWrapper {
  display: none;
}
.mobile_activebg {
  display: none;
}
.btnWrapper {
  display: flex;
  align-items: center;
}
.btnWrapper:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.btnWrapper span {
  font-family: "campton";
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-txt);
  cursor: pointer;
  padding: 0px 10px;
  line-height: 20px;
  /* padding-bottom: 5px; */
}
.btnWrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.btnWrapper svg {
  font-size: 20px;
  color: var(--primary-txt);
}
.Header button {
  width: 3rem;
  height: 1.5rem;
}
.logo {
  display: block;
  font-size: 35px;
  font-family: "campton";
  font-weight: 700;
  color: var(--primary-txt);
  cursor: pointer;
  margin-right: 25px;
}

@media screen and (max-device-width: 586px) {
  .Header {
    display: none;
  }
  .logo {
    margin: 40px 0px;
  }

  .moblie {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
  }
  .headerWrapper {
    display: none;
  }
  .activebg {
    display: none;
  }
  .mobile_headerWrapper {
    display: block;
    width: 50vw;
    height: 100%;
    position: fixed;
    opacity: 0;
    right: 0px;
    z-index: 40;
    background-color: rgba(255, 255, 255);
    transform: translateX(255px);
    transition: all 0.5s;
  }
  .mobile_activebg {
    display: block;
    width: 50vw;
    height: 100%;
    position: fixed;
    opacity: 1;
    right: 0px;
    z-index: 40;
    background-color: rgba(255, 255, 255);
    transform: translateX(0px);
    transition: all 0.5s;
  }

  .menuBtn {
    display: block;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
    font-size: 30px;
    filter: drop-shadow(2px 2px 2px gray);
  }

  .mobile_headerWrapper nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btnWrapper span {
    font-size: 18px;
  }
  .btnWrapper:last-child {
    flex-direction: column;
  }
  .btnWrapper:last-child span {
    margin-top: 20px;
  }
  .mobile_backdrop {
    width: 50vw;
    height: 100%;
    position: fixed;
    left: 0px;
    z-index: 40;
  }
  .mobile_backdrop_none {
    display: none;
  }
}
