.h25 {
    height: 250px;
}

.text {
    font-size: 30px;
    font-weight: 700;
}

/* .selector_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.selector_wrap>div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    border: none;
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    color: var(--primary);
}

.select>option[value] {
    font-weight: 700;
}