.sliderwrapper {
  display: flex;
  justify-content: center;
}
.slider {
  width: 1750px;
  height: 250px;
}
.slider img {
  height: 250px;
}
.text {
  font-size: 30px;
  font-weight: 700;
}

.selector_wrap > div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  border: none;
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
  color: var(--primary);
}

.select > option[value] {
  font-weight: 700;
}

.btn_area {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.btn_area button {
  margin: 0 10px;
}

@media screen and (max-width: 586px) {
  .text {
    font-size: 25px;
  }
  .select {
    font-size: 25px;
  }
  .slider {
    width: 250px;
    height: 250px;
  }
}
