.ProductCard {
  height: 400px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageWrapper {
  height: 230px;
  width: 230px;
  background-color: #f3ecf4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.ProductCard img {
  height: 200px;
  width: 200px;
}

.ProductCard a p[id="name_ko"] {
  width: 210px;
  font-size: 15px;
  margin: 10px 0px;
  font-weight: 800;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 23px;
}
.ProductCard h4 {
  font-size: 15px;
  margin: 10px 0px;
  font-weight: 800;
}
.ProductCard p {
  font-size: 10px;
  margin-bottom: 10px;
}
.ProductCard p[id="name_en"] {
  width: 90%;
  color: var(--primary-txt);
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 15px;
}
.ProductCard p[id="desc"] {
  color: #cccc;
  width: 137px;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
}
.wineInfoBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wineInfoBox span {
  font-size: 7px;
  color: var(--primary-txt);
  font-weight: 700;
  background-color: #f3ecf4;
  padding: 5px;
  border-radius: 15px;
  margin-right: 10px;
}
.heart {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.modal {
  border: none;
  border-radius: 10px;
  padding: 55px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal button {
  background-color: var(--primary);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.ProductCard dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .ProductCard {
    height: 350px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageWrapper {
    height: 180px;
    width: 180px;
    background-color: #f3ecf4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .ProductCard img {
    height: 150px;
    width: 150px;
  }
  .ProductCard a p[id="name_ko"] {
    width: 175px;
  }
  .wineInfoBox span {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
  }
}
