.ProductWrapper {
  padding-top: 200px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title svg {
  font-size: 20px;
}
.title h4 {
  font-family: "campton";
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 600;
}
.ProductCardWrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 13px;
}
.winetypetab {
  height: 30px;
  margin-bottom: 15px;
}
.winetypetab span {
  font-size: 18px;
  background-color: white;
  border-radius: 18px;
  border: 2px solid var(--primary-txt);
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
}
.winetypetab span:hover,
.activetab {
  background-color: var(--primary-txt) !important;
  color: white;
  font-weight: 600;
}
/* .activetab {
  background-color: var(--primary-txt);
  color: white;
  font-weight: 600;
} */
.pagebtnWrapper {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagebtn span {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  line-height: 20px;
}
.pagebtn {
  margin: 0px 5px;
  cursor: pointer;
}
.activebtn {
  font-weight: 800;
  font-size: 20px;
  color: var(--primary-txt);
  border: 1px solid var(--secondary-txt);
  border-radius: 5px;
}
.prevNextBtn {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}
.prevNextBtn svg {
  font-size: 35px;
}
.noWine {
  background-color: var(--secondary-txt);
  height: 100%;
  padding: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noWine p {
  font-size: 22px;
  font-weight: 800;
  color: white;
  /* color: var(--secondary-txt); */
  margin: 30px;
}

@media screen and (max-device-width: 586px) {
  .ProductWrapper {
    padding-top: 150px;
  }
  .title {
    padding: 0px 10px;
  }
  .ProductCardWrapper {
    display: grid;
    grid-template-columns: 180px 180px;
  }

  .pagebtn {
    position: relative;
    width: 21px;
    height: 20px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    margin: 0px 4px;
  }

  .pagebtn span {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    display: block;
    text-align: center;
    width: 21px;
    height: 20px;
    padding: 0px;
    line-height: 13px;
    font-size: 13px;
    padding: 2px;
  }
  .pagebtn a {
    display: block;
    width: 21px;
  }
  .prevNextBtn {
    font-size: 13px;
    margin: 0px;
  }
  .prevNextBtn span {
    width: 33px;
    line-height: 35px;
  }
  .BtnLink {
    width: 50px;
  }
  .prevNextBtn svg {
    font-size: 30px;
  }
}
