.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.form input:not([type="checkbox"]) {
  height: 35px;
  width: 400px;
  margin-bottom: 5px;
  background-color: var(--secondary-txt);
  border: none;
}

.form input::placeholder {
  padding-left: 5px;
  color: var(--primary-txt);
}

.form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formWrapper span {
  font-family: "campton";
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
.formWrapper label {
  margin-right: 50px;
  font-size: 15px;
}

@media screen and (max-device-width: 586px) {
  .form {
    width: 90vw;
    align-items: center;
    justify-content: center;
  }

  .form input:not([type="checkbox"]) {
    width: 100%;
  }
  .formWrapper label {
    width: 95%;
    margin-right: 0px;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .form input::placeholder {
    font-size: 13px;
  }
  .formWrapper span {
    font-size: 13px;
    margin-right: 15px;
  }
}
