.CommunityComment {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.InputWrapper {
  border-top: 1px solid #c4b8b9;
  padding-top: 50px;
  padding-bottom: 70px;
}
.CommentList {
  width: 950px;
}

@media screen and (max-width: 768px) {
  .CommunityComment {
    padding-top: 0px;
  }
  .InputWrapper {
    width: 100%;
    padding: 50px 10px;
  }
  .CommentList {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
