.CommentInput {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CommentInput_sub {
  margin-left: 55px;
  width: 890px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CommentInput img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.CommentInput_Input {
  display: flex;
  align-items: center;
  border: 1px solid #c4b8b9;
  border-radius: 5px;
  padding-left: 10px;
}

.CommentInput_Input > input {
  width: 830px;
  height: 35px;
  font-size: 15px;
  border: none;
}
.CommentInput_subInput {
  display: flex;
  align-items: center;
  width: 770px;
}
.CommentInput_subInput span {
  margin-right: 10px;
  color: rgb(69, 69, 191);
}
.CommentInput_subInput input {
  height: 35px;
  font-size: 15px;
  border: none;
}
.CommentInput_Input input::placeholder {
  color: #c4b8b9;
}

.CommentInput_Input button {
  background-color: var(--primary);
  height: 35px;
  width: 50px;
  color: white;
  border-radius: 5px;
}
.like {
  color: var(--primary);
}
.modal {
  border: none;
  border-radius: 10px;
  padding: 55px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal button {
  background-color: var(--primary);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.CommentInput dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
.CommentInput_sub dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
