.Post {
  padding: 150px 0px;
}
.PostBackground {
  background-color: #efefef;
}
.section {
  background-color: white;
}
.title {
  display: flex;
  align-items: flex-end;
  padding: 20px 25px;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}
.title h3 {
  font-size: 18px;
  font-weight: 800;
}
.title p {
  font-size: 14px;
  color: #cccccc;
  margin-left: 30px;
}
.postRole {
  background-color: white;
  margin-bottom: 30px;
  padding: 40px 80px;
}
.postRole p {
  margin-bottom: 15px;
  font-size: 15px;
}
.postRole p:last-child {
  margin-bottom: 0px;
}

.postContents {
  padding: 80px 100px;
}
.imageBtn {
  width: 180px;
  height: 180px;
  background-color: #a6a6a6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.imagePlusBtn {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #a6a6a6;
}
.imagePlusBtn svg {
  font-size: 70px;
}
.imageBtn img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.imageBtn p {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  font-family: "campton";
  font-weight: 800;
  cursor: pointer;
}
.imageinput {
  display: none;
}
.postContents form > div {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.postContents form > div:nth-child(2) {
  align-items: flex-start;
}
.postContents form > div:nth-child(3) {
  align-items: flex-start;
}
.postContents form > div:nth-child(7) {
  align-items: flex-start;
}

.postContents h3 {
  min-width: 120px;
  font-size: 14px;
}
.contents_title {
  display: flex;
  align-items: center;
}
.postContents input {
  border: 1px solid #d9d9d9;
}
.postContents input[type="text"] {
  min-width: 350px;
  height: 30px;
  padding-left: 10px;
  margin-right: 60px;
}
.postContents input[type="number"] {
  width: 350px;
  height: 30px;
  padding-left: 10px;
}
.postContents input::placeholder {
  color: #cccccc;
}
.postContents textarea {
  border: 1px solid #d9d9d9;
  width: 886px;
  height: 400px;
  padding: 10px 15px;
  font-family: "Noto Sans";
}

.postContents textarea::placeholder {
  color: #cccccc;
  font-family: "Noto Sans";
}
.btnWrapper {
  display: flex;
  justify-content: flex-end;
}
.btnWrapper button {
  background-color: var(--primary);
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
}
.winetype_Selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 60px;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}
.winetype_Selector span {
  color: #cccccc;
}
.colorBlack {
  color: black !important;
}

.winetype_Selector_list {
  width: 350px;
  border: 1px solid #d9d9d9;
  transform-origin: top;
  transition: transform 0.3s;
}
.winetype_Selector_list li {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.winetype_Selector_list li:hover {
  background-color: #d9d9d9;
  color: #505050;
}
.winetype_Selector_list li:last-child {
  border-bottom: none;
}
.active {
  transform: scaleY(1);
  height: 100%;
}
.unactive {
  transform: scaleY(0);
  height: 0px;
}

.listActive {
  align-items: flex-start !important;
}
.listActive h3 {
  padding-top: 8px;
}
.listUnactive {
  align-items: center;
}

.modal {
  border: none;
  border-radius: 10px;
  padding: 55px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal button {
  background-color: var(--primary);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.Post ~ dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
